<!DOCTYPE html>
<html lang="en">
<!--<script src="/js/addition.js"/>-->
<head>
    <meta charset="UTF-8">
    <title>Matrix Addition</title>
</head>
<header>
    <h1>Noah Wenck</h1>
    <a href="https://github.com/noahwenck"><img src="github.png"></a>
    <a href="https://linkedin.com/in/noah-wenck"><img src="linkedin.png"></a>
</header>
<body>
    <h2>Matrix Addition</h2>
    <input type="number" id="0" name="zero"/> <input type="number" id="1"/>
    <br>
    <input type="number" id="2"/> <input type="number" id="3"/>
    <br>
    <button onclick="toMatrix()">Add?</button>
</body>
</html>